* {

  color: #7ed7ff;

  font-weight: bold;
}

.notice-card {
  padding: 18px;

  border-radius: 16px;

  background: rgba(255,255,255,0.08);

  margin-bottom: 15px;
}

.warning {
  border-left: 5px solid #ffcf4a;
}

.pdf-button {
  display: inline-block;

  text-decoration: none;

  background: #3fa9ff;

  color: white;

  padding: 14px 24px;

  border-radius: 16px;

  transition: 0.2s;
}

.pdf-button:hover {
  background: #66bcff;
}

#map {
  height: 500px;

  border-radius: 20px;

  overflow: hidden;
}

@media (max-width: 768px) {

  .hero h1 {
    font-size: 2.2rem;
  }

  .clock-card {
    width: 90%;
  }

  #map {
    height: 380px;
  }

}